{% extends "homepage.html" %}

{% block content %}

{% if info.error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<div> 
<h2> Error message: </h2>
{{ info.error | safe }}
</div>
{% endif %}

<div>
The modular group, \(PSL(2,Z)\) is the group consisting of mappings \(z\mapsto (az+b)/(cz+d) \)
with a,b,c,d integers and ad-bc=1. These mappings are usually represented by matrices and we have
\(PSL(2,Z) \simeq SL(2,Z)/{\pm 1} \)

<p>
Below you can browse subgroups of the modular group which are currently in the LMFDB.
</div>


{% if info.signatures is defined %}

{% if info.signatures.count() == 0 %}

{% if info.is_consistent == 1 %}

The datbase does not contain any groups with this signature. 

{% else %}

There does not exist any subgroups with the given signature specification: {{ info.data.signature }}.

{% endif %}

{% else %}

<table>
  <tr>
    <th>Signature</th>
    <th>Representative </th>
    <th>(Standard name if existing)</th>
    <th>Number of conjugates </th>
    <th>Is symmetric </th>
    <th>Is congruence </th>
    <th>Cusps</th>

  </tr>
  {% for s in info.signatures %}
  <tr><td>{{ s }} </td><td></td> </tr>
     {% for cc in s.conjugacy_classes_mod_psl %}
  <tr><td></td>
    {% set G = cc.representative %}
    <td>{{ G.p3 }}</td>
    <td>
    {% for g in cc.psl_conjugates| get_named %}
    <a href="{{ url_for('psl2zsubg.show_one_group',index=g.psl2z_index,nu=g.nu,e2=g.e2,e3=g.e3,genus=g.genus,gid=g.id) }}">
       \({{ g.latex_name }} \)
       </a>
    {% endfor %}
    </td>
    <td>{{ cc.length() }}</td>
    <td>{{ G.is_symmetric }} </td>
    <td>{{ G.is_congruence }} </td>
    <td>
{% for c in G._cusps %}
{{ c.a }}/{{ c.b }}
{% endfor%}    
</td>
  </tr>
     {% endfor %} 
  {% endfor %} 


</table>
{% endif %}
{% endif %}

{% if info.data is defined %}
<table>
<tr>
<th>
</th>
</tr>

</table>
{% endif %}
{% endblock content %}
